* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ----- Header Bar with Nav ----- */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: #0E0E0E;
  position: fixed;
  top: 0;
}

.nav-bar ul {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.nav-bar ul li {
  list-style: none;
  padding: 0 1em;
}

.nav-bar ul li a{
  color: #b6b6b6;
  text-decoration: none;
  transition: 0.4s ease;
  font-size: 1rem;
}

.nav-bar ul li a:hover {
  color: #FBFAFA;
}

.background-image {
  background-image: radial-gradient(#9494C8, #09093A);
  /*background-size: cover;
  background-attachment: fixed;*/
}

/* ----- Containers -----*/
.container-1 {
  height: 100vh;
}

.container-2 {
  width: 100%;
  height: auto;
  background-color: #0E0E0E;
}

.container-main {
  display: flex;
  margin: 2em 5em;
  align-items: center;
  height: 100vh;
}

/* ----- Social Links -----*/
.github-link {
  position: fixed;
  top: 100px;
  left: 95%;
}

.linkedIn-link {
  position: fixed;
  top: 150px;
  left: 95.2%;
}

.twitter-link {
  position: fixed;
  top: 195px;
  left: 95%;
}

/* ----- Header ----- */
.header-container {
  
}

.main-header {
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 100;
  text-shadow: 2px 2px 5px #000;
  
}

.sub-header {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 2px 2px 5px #000;
  
}







/* ----- About Paragraph ----- */
.about p {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-shadow: 2px 2px 5px #000;
  line-height: 1.5em;
}

/* ----- Projects Section ----- */
.section-title-projects {
  text-align: center;
  width: 100%;
  padding-top: 3em;
}

.section-title-projects h3 {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 3px;
  color: #b6b6b6;
  padding-top: 1em;
}

.projects {
  text-align: center;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  margin-top: 5em;
  padding-bottom: 2em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 12em;
  padding-top: 5em;
}

.container h3 {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: #b6b6b6;
  margin: auto 0;
}

.container img {
  width: 500px;
  border-radius: 20px;
  transition: 0.8s ease;
}

.container img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 30px #b6b6b6;
}

.demo-man-container {
  margin-top: 10em;
}

.footer-container {
  width: 100%;
  height: 10em;
  background-color: #000000;
  
}


@media only screen and (max-width: 460px) {
  .header-container {
    margin-top: 1em;
  }

  .main-header {
    font-size: 3rem;
  }

  .about {
    width: 60%;
  }

  .section-title-projects h3 {
    font-size: 3rem;
  }

  .container h3 {
    font-size: 2rem;
  }

  .container img {
    width: 200px;
  }

  .github-link {
    position: fixed;
    top: 92%;
    left: 18%;
  }
  
  .linkedIn-link {
    position: fixed;
    top: 92%;
    left: 48%;
  }
  
  .twitter-link {
    position: fixed;
    top: 92%;
    left: 78%;
  }
}

@media only screen and (max-width: 850px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .container-2 {
    height: auto;
  }

  .projects-box {
    width: 70%;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .container img {
    max-width: 400px;
    margin-top: 3em;
  }
}